<%= form_for(@user) do |f| %>

  <%= f.label :username %>
  <%= f.text_field :username, class: 'form-control' %>

  <%= f.label :userdes%>
  <%= f.text_field :userdes, class: 'form-control' %>

  <%= f.label :usertxt%>
  <%= f.text_field :usertxt, class: 'form-control' %>

  <%= f.submit "編集", class: "btn btn-primary" %>
  <span class="picture">
  <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </span>
<% end %>

<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>
