<%= form_for ([@user, @user.posts.build]) do |f| %>
  <div class="field">
    <%= f.text_area :belo, placeholder: " 所属" %>
  </div>
  <div class="field">
    <%= f.text_area :content, placeholder: "プロフィール" %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>

