<h3><%= post.belo %></h3>
<h3><%= post.content %></h3>
<% if  current_user == post.user %>
<div class="cd"><%= link_to '削除', [post.user, post], method: :delete, class: "buttn", date:{confirm: 'Are you sure'} %></div>
<% end %>
</div>
